# See https://github.com/github/gitignore

# OS
# The right place for these is a file specified by git global configuration option `core.excludesFile`
# git config --global core.excludesFile ~/.gitignore
.DS_Store
Thumbs.db

# IDE and local environment
# The right place for these is a file specified by git global configuration option `core.excludesFile`
# git config --global core.excludesFile ~/.gitignore
Homestead.json
Homestead.yaml
/.vscode/
/.vagrant/
# JetBrains IDEs
/.idea/

# Dependencies
/composer.lock
/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Application
.env
.env.backup
/public/hot/
/public/storage/
/storage/*.key
wp-config.php

# Tests
.php_cs.cache
.phpunit.result.cache

# Distribution
/dist/
