[submodule "mysql/mysqltuner"]
	path = mysql/mysqltuner
	url = https://github.com/major/MySQLTuner-perl.git
[submodule "image/packjpg"]
	path = image/packjpg
	url = https://github.com/packjpg/packJPG.git
[submodule "image/jpegrescan"]
	path = image/jpegrescan
	url = https://github.com/kud/jpegrescan.git
[submodule "wheezy-repo"]
	path = repo
	url = https://github.com/szepeviktor/szepeviktor.github.io.git
[submodule "monitoring/watcher"]
	path = monitoring/watcher
	url = https://github.com/getzze/Watcher.git
[submodule "security/ip-info"]
	path = security/ip-info
	url = git@github.com:szepeviktor/ip-info.git
[submodule "monitoring/virt-what"]
	path = monitoring/virt-what
	url = git://git.annexia.org/git/virt-what.git
[submodule "security/maldet"]
	path = security/maldet
	url = https://github.com/waja/maldetect.git
[submodule "mysql/mysql2sqlite"]
	path = mysql/mysql2sqlite
	url = https://github.com/dumblob/mysql2sqlite.git
[submodule "webserver/server-configs-nginx"]
	path = webserver/server-configs-nginx
	url = git@github.com:szepeviktor/server-configs-nginx.git
[submodule "monitoring/aruba-serclient.deb"]
	path = monitoring/aruba-serclient.deb
	url = git@github.com:szepeviktor/aruba-serclient.deb.git
[submodule "security/mkpasswd"]
	path = security/mkpasswd
	url = git@github.com:szepeviktor/mkpasswd.git
[submodule "mail/courier-pythonfilter"]
	path = mail/courier-pythonfilter
	url = git@github.com:szepeviktor/courier-pythonfilter.git
