[submodule "mysql/mysqltuner"]
	path = mysql/mysqltuner
	url = https://github.com/major/MySQLTuner-perl.git
[submodule "wheezy-repo"]
	path = repo
	url = https://github.com/szepeviktor/szepeviktor.github.io.git
[submodule "webserver/server-configs-nginx"]
	path = webserver/server-configs-nginx
	url = git@github.com:szepeviktor/server-configs-nginx.git
[submodule "mail/courier-pythonfilter"]
	path = mail/courier-pythonfilter
	url = git@github.com:szepeviktor/courier-pythonfilter.git
