.bzr
token_store.txt
/security/fail2ban-conf/filter.d/apache-common.conf
/TODO.*

## .gitignore categories
# OS
# IDE and local environment
# Packages
# Application
# Tests
# Distribution

# Better place for "OS" and "IDE and local environment" is
# a file specified by git global configuration option `core.excludesFile`.
# git config --global core.excludesfile ~/.gitignore
