logfile       - Files to grep (shellglob) (required)
regex         - Regex to look for (required)
label         - Label
counter       - If set the value captured by the first paren
                in the regex is summed instead of coutning lines.
                The value is used for the vertical label.
regex_<key>   - Additional regexes
label_<key>   - Additional labels
counter_<key> - Additional counters (the value is ignored).
title         - Graph title

for syslog??
