#
# Secondary MySQL instance configuration
#
# LOCATION      :/var/tmp/mysql2.cnf

#$ printf '\n[mysqld]\ndatadir=%s\n' /var/tmp/mysql2 >>/root/.my.cnf
#$ cp ./mysql2.cnf /var/tmp/
#$ innobackupex --copy-back BASE-DIR
#$ chown -R mysql:mysql /var/tmp/mysql2
#$ mysqld_safe --defaults-file=/var/tmp/mysql2.cnf --skip-kill-mysqld --skip-syslog --verbose &
#$ tail -f /var/tmp/mysql2/error.log

[mysqld]
user            = mysql
pid-file        = /var/tmp/mysql2/mysqld.pid
socket          = /var/tmp/mysql2/mysqld.sock
basedir         = /usr
datadir         = /var/tmp/mysql2
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
skip-networking
log_error       = /var/tmp/mysql2/error.log

#$ mysqldump -S /var/tmp/mysql2/mysqld.sock DB-NAME >dbname.sql
#$ kill -15 $(cat /var/tmp/mysql2/mysqld.pid)
#$ tail /var/tmp/mysql2/error.log
## Remove datadir=
#$ editor /root/.my.cnf
