/*
Theme Name: child theme name
Theme URI: https://www.elegantthemes.com/gallery/divi/
Description: Divi Child Theme
Author: you
Author URI: https://example.com/
Template: Divi
Version: 1.0.0
Requires at least: 6.0
Requires PHP: 7.4
*/
