# NO root files and en_US, hu_HU documents (no dollar sign at the end)
<FilesMatch "^(licenc\.txt|olvasdel\.html|license\.txt|readme\.html|wp-(config|config-sample|blog-header|load|settings)\.php)">
    # Apache < 2.3
    <IfModule !mod_authz_core.c>
        Order Allow,Deny
        Deny from all
        Satisfy All
    </IfModule>
    # Apache ≥ 2.3
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</FilesMatch>

# Add the above .htaccess file's contents here if site_url === home
