# See options in https://github.com/phpstan/phpstan/blob/master/conf/config.neon
services:
    -
        class: PHPStan\WordPress\IsWpErrorFunctionTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.functionTypeSpecifyingExtension
    -
        class: PHPStan\WordPress\WpThemeMagicPropertiesClassReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
    -
        class: PHPStan\WordPress\RedirectCanonicalDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: PHPStan\WordPress\EscSqlDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/inc/
#    excludes_analyse:
    autoload_files:
        - %currentWorkingDirectory%/vendor/giacocorsiglia/wordpress-stubs/wordpress-stubs.php
        - %currentWorkingDirectory%/tests/phpstan/bootstrap.php
#    autoload_directories:
    ignoreErrors:
        - '#^Function apply_filters invoked with [3456] parameters, 2 required\.$#'
        - '#^Function do_action invoked with [3456] parameters, 1-2 required\.$#'
        - '#^Function current_user_can invoked with 2 parameters, 1 required\.$#'
        - '#^Function add_query_arg invoked with [123] parameters, 0 required\.$#'
        - '/^Parameter #2 \$deprecated of function load_plugin_textdomain expects string, false given\.$/'
        # WP-CLI accepts a class too
        - '/^Parameter #2 \$callable of static method WP_CLI::add_command\(\) expects callable\(\): mixed, \S+ given\.$/'
